
<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="camerasAll" class="nav-link" routerLinkActive="active">List Cameras</a>
      </li>
      <li class="nav-item">
          <a routerLink="insert" class="nav-link" routerLinkActive="active">Insert Camera</a>
      </li>
    </ul>
  </nav>
  
  
  <div class="container">
    <br>
    <h2 style="text-align: center;">Rayonit Project</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
    </div>
  </footer>
   -->

   
  <div class="container">  
    <div class="topnav">
    <a routerLink="camerasAll" class="nav-link" routerLinkActive="active">List Cameras</a>
    <a routerLink="insert" class="nav-link" routerLinkActive="active">Insert Camera</a>
    <a routerLink="chart" class="nav-link" routerLinkActive="active">Chart</a>
  </div>
  <p class="title">Rayonit Project</p>
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
    <!-- <app-my-chart></app-my-chart>  to add the chart in the front page-->
      </div>
    </div>
  </div>